# Data Conversion

## Weather Data

In [164]:
import json

# Load JSON data from file with explicit encoding
with open('data_airquality.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [165]:
# Convert JSON data into pandas DataFrame
df = pd.json_normalize(data, 'data')

In [166]:
df.head()

,app_temp,azimuth,clouds,datetime,dewpt,dhi,dni,elev_angle,ghi,h_angle,...,timestamp_utc,ts,uv,vis,wind_dir,wind_gust_spd,wind_spd,weather.description,weather.code,weather.icon
0,24.5,4.3,0,2023-09-30:19,19.0,0,0,-60.6,0,None,...,2023-09-30T19:00:00,1696100400,0.0,10,284,3.2,2.0,Clear Sky,800,c01n
1,23.0,32.2,0,2023-09-30:20,18.6,0,0,-56.6,0,None,...,2023-09-30T20:00:00,1696104000,0.0,10,290,3.2,2.0,Clear Sky,800,c01n
2,22.6,52.5,0,2023-09-30:21,18.6,0,0,-48.0,0,None,...,2023-09-30T21:00:00,1696107600,0.0,10,300,3.2,1.6,Clear Sky,800,c01n
3,21.4,66.5,0,2023-09-30:22,18.1,0,0,-37.1,0,None,...,2023-09-30T22:00:00,1696111200,0.0,10,290,2.8,2.0,Clear Sky,800,c01n
4,21.0,77.0,0,2023-09-30:23,18.1,0,0,-25.1,0,None,...,2023-09-30T23:00:00,1696114800,0.0,10,300,2.8,2.4,Clear Sky,800,c01n

In [167]:
df = df.sort_values(by='datetime').reset_index(drop=True)

df.head()

,app_temp,azimuth,clouds,datetime,dewpt,dhi,dni,elev_angle,ghi,h_angle,...,timestamp_utc,ts,uv,vis,wind_dir,wind_gust_spd,wind_spd,weather.description,weather.code,weather.icon
0,24.5,4.3,0,2023-09-30:19,19.0,0,0,-60.6,0,None,...,2023-09-30T19:00:00,1696100400,0.0,10,284,3.2,2.0,Clear Sky,800,c01n
1,23.0,32.2,0,2023-09-30:20,18.6,0,0,-56.6,0,None,...,2023-09-30T20:00:00,1696104000,0.0,10,290,3.2,2.0,Clear Sky,800,c01n
2,22.6,52.5,0,2023-09-30:21,18.6,0,0,-48.0,0,None,...,2023-09-30T21:00:00,1696107600,0.0,10,300,3.2,1.6,Clear Sky,800,c01n
3,21.4,66.5,0,2023-09-30:22,18.1,0,0,-37.1,0,None,...,2023-09-30T22:00:00,1696111200,0.0,10,290,2.8,2.0,Clear Sky,800,c01n
4,21.0,77.0,0,2023-09-30:23,18.1,0,0,-25.1,0,None,...,2023-09-30T23:00:00,1696114800,0.0,10,300,2.8,2.4,Clear Sky,800,c01n

In [168]:
# Drop all columns except 'temp' and 'timestamp_local'
df = df[['temp', 'timestamp_local']]

In [169]:
df.to_csv("oct_23.csv", index=False)

## Pollution Data

In [2]:
import pandas as pd

# Load the JSON file into a Pandas DataFrame
df = pd.read_json('data_airquality.json')

ValueError: All arrays must be of the same length

In [116]:
df.to_csv("dummy.csv")

In [114]:
# Separate the JSON data into individual columns
df = pd.concat([df.drop(['data'], axis=1), pd.json_normalize(df['data'])], axis=1)

In [115]:
df = df.sort_values(by='datetime').reset_index(drop=True)

df.head()

,city_name,country_code,lat,lon,state_code,timezone,aqi,co,datetime,no2,o3,pm10,pm25,so2,timestamp_local,timestamp_utc,ts
0,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,121,242.0,2024-01-30:19,16.0,45.3,77.3,43.33,24.0,2024-01-31T00:00:00,2024-01-30T19:00:00,1706641200
1,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,117,209.7,2024-01-30:20,13.0,44.7,75.7,41.67,19.0,2024-01-31T01:00:00,2024-01-30T20:00:00,1706644800
2,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,112,177.4,2024-01-30:21,10.0,44.0,74.0,40.00,14.0,2024-01-31T02:00:00,2024-01-30T21:00:00,1706648400
3,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,114,163.4,2024-01-30:22,8.7,44.7,79.3,40.67,12.7,2024-01-31T03:00:00,2024-01-30T22:00:00,1706652000
4,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,116,149.4,2024-01-30:23,7.3,45.3,84.7,41.33,11.3,2024-01-31T04:00:00,2024-01-30T23:00:00,1706655600

In [78]:
data = pd.concat([data, df], ignore_index=True)

In [79]:
data.shape

(7763, 17)

In [81]:
data = data.sort_values(by='datetime').reset_index(drop=True)

data.head()

,city_name,country_code,lat,lon,state_code,timezone,aqi,co,datetime,no2,o3,pm10,pm25,so2,timestamp_local,timestamp_utc,ts
0,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,385.0,1339.8,2022-01-31:19,76.0,10.7,491.7,347.67,238.0,2022-02-01T00:00:00,2022-01-31T19:00:00,1643655600
1,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,404.0,1437.6,2022-01-31:20,76.0,9.3,508.3,359.33,268.0,2022-02-01T01:00:00,2022-01-31T20:00:00,1643659200
2,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,421.0,1535.5,2022-01-31:21,76.0,8.0,525.0,371.00,298.0,2022-02-01T02:00:00,2022-01-31T21:00:00,1643662800
3,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,425.0,1659.0,2022-01-31:22,68.3,5.3,529.3,374.00,275.7,2022-02-01T03:00:00,2022-01-31T22:00:00,1643666400
4,Gujrāt,PK,32.57284,74.07897,4,Asia/Karachi,430.0,1782.5,2022-01-31:23,60.7,2.7,533.7,377.00,253.3,2022-02-01T04:00:00,2022-01-31T23:00:00,1643670000

In [95]:
data_1 = pd.read_csv("data_2022.csv")

In [96]:
data_2 = pd.read_csv("data_2023.csv")

In [97]:
data_1.shape

(7763, 10)

In [98]:
data_2.shape

(9181, 10)

In [99]:
data = pd.concat([data_1, data_2], ignore_index=True)

In [100]:
data.shape

(16944, 10)

In [87]:
data.head()

,city_name,country_code,lat,lon,state_code,timezone,aqi,co,datetime,no2,o3,pm10,pm25,so2,timestamp_local,timestamp_utc,ts,Unnamed: 0
0,Gujrāt,PK,32.57284,74.07897,4.0,Asia/Karachi,385.0,1339.8,2022-01-31:19,76.0,10.7,491.7,347.67,238.0,2022-02-01T00:00:00,2022-01-31T19:00:00,1643655600,NaN
1,Gujrāt,PK,32.57284,74.07897,4.0,Asia/Karachi,404.0,1437.6,2022-01-31:20,76.0,9.3,508.3,359.33,268.0,2022-02-01T01:00:00,2022-01-31T20:00:00,1643659200,NaN
2,Gujrāt,PK,32.57284,74.07897,4.0,Asia/Karachi,421.0,1535.5,2022-01-31:21,76.0,8.0,525.0,371.00,298.0,2022-02-01T02:00:00,2022-01-31T21:00:00,1643662800,NaN
3,Gujrāt,PK,32.57284,74.07897,4.0,Asia/Karachi,425.0,1659.0,2022-01-31:22,68.3,5.3,529.3,374.00,275.7,2022-02-01T03:00:00,2022-01-31T22:00:00,1643666400,NaN
4,Gujrāt,PK,32.57284,74.07897,4.0,Asia/Karachi,430.0,1782.5,2022-01-31:23,60.7,2.7,533.7,377.00,253.3,2022-02-01T04:00:00,2022-01-31T23:00:00,1643670000,NaN

In [101]:
data.to_csv("data.csv")

## Merge Data

In [170]:
import pandas as pd

# Load CSV files into pandas DataFrames
df_weather = pd.read_csv('data_weather.csv')
df_aqi = pd.read_csv('data_aqi.csv')

# Merge DataFrames on 'timestamp_local' column
merged_df = pd.merge(df_weather, df_aqi, on='timestamp_local')

In [171]:
merged_df.head()

,temp,timestamp_local,city_name,country_code,aqi,co,no2,o3,pm10,pm25,so2
0,12.6,2022-02-01T00:00:00,Gujrāt,PK,385.0,1339.8,76.0,10.7,491.7,347.67,238.0
1,11.5,2022-02-01T01:00:00,Gujrāt,PK,404.0,1437.6,76.0,9.3,508.3,359.33,268.0
2,11.9,2022-02-01T02:00:00,Gujrāt,PK,421.0,1535.5,76.0,8.0,525.0,371.00,298.0
3,12.2,2022-02-01T03:00:00,Gujrāt,PK,425.0,1659.0,68.3,5.3,529.3,374.00,275.7
4,11.9,2022-02-01T04:00:00,Gujrāt,PK,430.0,1782.5,60.7,2.7,533.7,377.00,253.3

In [172]:
merged_df.to_csv("data_final.csv",index=False)

## Check Missing Hours

In [175]:
import pandas as pd

# Load CSV file into pandas DataFrame
df = pd.read_csv('data_final.csv')

# Convert 'timestamp_local' column to datetime
df['timestamp_local'] = pd.to_datetime(df['timestamp_local'])

# Sort DataFrame by 'timestamp_local'
df = df.sort_values(by='timestamp_local')
# Reset index after sorting
df = df.reset_index(drop=True)
# Calculate difference between consecutive timestamps
time_diff = df['timestamp_local'].diff()

# Check for missing hours
missing_hours = time_diff[time_diff != pd.Timedelta(hours=1)]

if missing_hours.empty:
    print("No missing hours.")
else:
    print("Missing hours:")
    print(missing_hours)

Missing hours:
0         NaT
5809   0 days
7274   0 days
Name: timestamp_local, dtype: timedelta64[ns]

In [176]:
missing_indices = time_diff[time_diff != pd.Timedelta(hours=1)].index

# Display the indices
print("Indices of missing hours:", missing_indices)

Indices of missing hours: Index([0, 5809, 7274], dtype='int64')

In [178]:
print(df_weather.iloc[5800:5810])

      temp      timestamp_local
5800  34.8  2022-09-30T16:00:00
5801  34.8  2022-09-30T17:00:00
5802  33.3  2022-09-30T18:00:00
5803  31.5  2022-09-30T19:00:00
5804  31.5  2022-09-30T20:00:00
5805  30.4  2022-09-30T21:00:00
5806  28.9  2022-09-30T22:00:00
5807  29.6  2022-09-30T23:00:00
5808  28.9  2022-10-01T00:00:00
5809  27.4  2022-10-01T01:00:00

In [179]:
import pandas as pd

# Load CSV files into pandas DataFrames
df_aqi = pd.read_csv('data_aqi.csv')
df_weather = pd.read_csv('data_weather.csv')

# Extract 'timestamp_local' column from each DataFrame
timestamps_aqi = df_aqi['timestamp_local']
timestamps_weather = df_weather['timestamp_local']

# Find missing indices in df_weather
missing_indices_weather = timestamps_aqi[~timestamps_aqi.isin(timestamps_weather)].index

# Find missing indices in df_aqi
missing_indices_aqi = timestamps_weather[~timestamps_weather.isin(timestamps_aqi)].index

print("Missing indices in data_weather.csv:", missing_indices_weather)
print("Missing indices in data_aqi.csv:", missing_indices_aqi)

Missing indices in data_weather.csv: Index([], dtype='int64')
Missing indices in data_aqi.csv: Index([], dtype='int64')

In [183]:
# Drop duplicates based on 'timestamp_local' column
df_weather = df_weather.drop_duplicates(subset=['timestamp_local'])

# Reset index
df_weather = df_weather.reset_index(drop=True)

In [184]:
df_weather.shape

(18216, 2)

In [180]:
# Drop duplicates based on 'timestamp_local' column
df_aqi = df_aqi.drop_duplicates(subset=['timestamp_local'])

# Reset index
df_aqi = df_aqi.reset_index(drop=True)

In [182]:
df_aqi.shape

(18216, 10)

In [185]:
df_aqi.to_csv("data_aqi.csv",index=False)

In [186]:
df_weather.to_csv("data_weather.csv",index=False)